* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

#du {
  text-align: center;
}

#mus{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#ha {
  color: black;
  text-decoration: none;
}

#ha:hover{
  color: red;
}

#ca{
  text-align: center;
  margin-bottom: 30px;
}